@model List<TicketOffice.Common.Dtos.UserDto>

@{
    ViewData["Title"] = "Users Management";

    var number = 1;
}

<h1>
    @ViewData["Title"]
</h1>
<br />
<div class="row">
    <a class="btn btn-primary col-2" style="margin-right: 30px" asp-controller="Admin" asp-action="CreateUser">Create User</a>
    <a class="btn btn-primary col-2" asp-controller="Admin" asp-action="TicketsManagement">Tickets Management</a>
</div>
<p />

<table class="table table-striped table-bordered" style="width: 70%">
    <tbody>
        <tr>
            <th>
                №
            </th>
            <th>
                Email
            </th>
            <th>
                Login
            </th>
            <th>
                Password
            </th>
            <th>
                Role
            </th>
            <th>
                Options
            </th>
        </tr>

        @foreach (var userDto in Model)
        {
            <tr>
                <td>@number</td>
                <td>@userDto.Email</td>
                <td>@userDto.Login</td>
                <td>@userDto.Password</td>
                <td>@userDto.Role</td>
                @if (userDto.Role != TicketOffice.Common.Enum.Role.Admin)
                {
                    <td>
                        @Html.ActionLink("Edit", "EditUser", new { id = userDto.Id }) |
                        @Html.ActionLink("Delete", "DeleteUser", userDto)
                    </td>
                }
            </tr>

            number++;
        }
    </tbody>
</table>