@model List<TicketOffice.Common.Dtos.UserDto>

@{
    ViewData["Title"] = "Users Management";

    var number = 1;
}

<h1>
    Users Management
</h1>

<br />
<a class="btn btn-primary" asp-controller="Admin" asp-action="CreateUser">Create User</a>
<p />

<table class="table table-striped table-bordered" style="width: 70%">
    <tbody>
        <tr>
            <th>
                №
            </th>
            <th>
                Email
            </th>
            <th>
                Login
            </th>
            <th>
                Password
            </th>
            <th>
                Role
            </th>
            <th>
                Options
            </th>
        </tr>

        @foreach (var userDto in Model)
        {
            <tr>
                <td>@number</td>
                <td>@userDto.Email</td>
                <td>@userDto.Login</td>
                <td>@userDto.Password</td>
                <td>@userDto.Role</td>
                <td>
                    @Html.ActionLink("Edit", "EditUser", new { id = userDto.Id }) |
                    @Html.ActionLink("Delete", "DeleteUser", userDto)
                </td>
            </tr>

            number++;
        }
    </tbody>
</table>